/*
    ##########################
    Main StyleSheet
    ##########################
*/
:root {
  --purple: rgba(110, 0, 255, 1.0);
  --pink:	rgba(255, 0, 203, 1.0);
  --medium-pink: rgba(255, 0, 203, 0.8);
  --light-pink: rgba(255, 0, 203, 0.5);
  --light-blue: rgba(128, 175, 245, 1.0);
  --white: rgba(255, 255, 255, 1.0);
  --light-white: rgba(255, 255, 255, 0.6);
  --black: rgba(0, 0, 0, 1.0);
}

.btn-custom-1 {
	border: 2px solid var(--white)!important;
	color: var(--white)!important;
	font-weight: 600!important;
	transition: 0.6s;
}
.btn-custom-1:hover {
	background-color: var(--white)!important;
	color: var(--pink)!important;
}
.btn-custom-2 {
	background-image: linear-gradient(to right, var(--purple), var(--pink));
	margin-right: 10px;
	font-weight: 600!important;
	padding: 10px 30px!important;
	color: var(--white)!important;
}
.btn-custom-3 {
	border: 2px solid var(--white)!important;
	color: var(--white)!important;
	font-weight: 600!important;
	padding: 10px 20px!important;
	transition: 0.6s;
}
.btn-custom-4 {
	background-color: var(--purple)!important;
	padding: 10px 40px!important;
	color: var(--white)!important;
}
.font-color-pink {
	color: var(--pink);
}
.bg-purple {
	background-color: var(--purple);
}
.hr {
	background-image: linear-gradient(to right, var(--purple), var(--pink));
	height: 8px;
	width: 15%;
	border-radius: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.hr-white {
	background-color: var(--white);
	height: 8px;
	width: 15%;
	border-radius: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
